/* Home.css */

.product-card {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 18px;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}
.error-message {
  font-size: 1.5rem;
  color: #fff;
  background-color: #ff4d4d;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
